@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  min-height: 100vh;
}

.movies-list-wrapper {
  height: 300px;
  padding: 10px;
  max-width: 400px;
  overflow: auto;
  background-color: rgb(240, 234, 234);
  border-radius: 10px;
  box-shadow: 10px 10px 20px #020202c7;
}
.movies-list {
  background-color: rgb(191, 221, 179);
  padding: 9px;
  cursor: pointer;
  margin: 10px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}
.movies-list:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 6px 6px 7px #00000080;
}

.last-movie-wrapper {
  padding: 10px;
  max-width: 400px;
  overflow: auto;
  background-color: rgb(240, 234, 234);
  border-radius: 10px;
  box-shadow: 10px 10px 20px #020202be;
}
